*	{
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}

body{
	font-family:sans-serif;
	margin: 20px 40px;
}

button {
	padding: 9px 200px;
	background-color: rgba(0,136,169,1);
	border: none;
	color: #fff;
	border-radius: 50px;
	cursor: pointer;
	margin-top: 20px;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(0,136,169,0.8);
}

button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	text-decoration: none;
}

.wrapper0 {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 40px;
    grid-gap: 10px;
	text-align: center;
	padding: 12px;
	color: #444;
	font-weight: bolder;
	font-size:22px;
}

div img {
	float:top;
	width: 15%;
	height: 15%;
	padding-bottom: 1%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 10px;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-gap: 10px;
}

.box1 {
    padding: 9px 9px;
	padding-top: 9px;
	background-color: #39AFA9;
	color: #fff;
	border-radius: 10px;
	font-weight: bolder;
}

.box2 {
    padding: 9px 9px;
	padding-top: 9px;
	background-color: #39AFA9;
	color: #fff;
	border-radius: 10px;
	font-weight: bolder;
}

.box3 {
	padding: 9px 9px;
	padding-top: 9px;
	background-color: #39AFA9;
	color: #fff;
	border-radius: 10px;
	font-weight: bolder;
}

.box4 {
    padding: 9px 9px;
	padding-top: 9px;
	background-color: #39AFA9;
	color: #fff;
	border-radius: 10px;
	font-weight: bolder;
}

.box5 {
    padding: 9px 9px;
	padding-top: 9px;
	background-color: #39AFA9;
	color: #fff;
	border-radius: 10px;
	font-weight: bolder;
}

.box6 {
    padding: 9px 9px;
	padding-top: 15px;
	background-color: #E8F6F5;
	color: #4C4C4C;
	border-radius: 25px;
}

.box7 {
    padding: 9px 9px;
	padding-top: 10px;
	background-color: #E8F6F5;
	color: #4C4C4C;
	border-radius: 25px;
	font-size:12px;
}

.box8 {
    padding: 9px 9px;
	padding-top: 15px;
	background-color: #E8F6F5;
	color: #4C4C4C;
	border-radius: 25px;
}

.box9 {
    padding: 9px 9px;
	padding-top: 15px;
	background-color: #E8F6F5;
	color: #4C4C4C;
	border-radius: 25px;
}

.box10 {
    padding: 9px 9px;
	padding-top: 15px;
	background-color: #E8F6F5;
	color: #4C4C4C;
	border-radius: 25px;
}