*	{
	padding: 0;
	margin: 0;
	font-family: century gothic;
	text-align: center;
}
body{
	font-family:sans-serif;
	margin: 20px 40px;
}

form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
}
h3 {
	text-align: center;
	padding: 12px;
	color: #444;
}
h4 {
	text-align: center;
	padding: 12px;
	color: #444;
}

input{
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px;
}

input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	cursor: pointer;
}
input[type='submit']:hover{
	background-color: #A1D7E7;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
	cursor: pointer;
}

#mainbox {
	font-size: 24px;
	cursor: pointer;
	text-align: left;
}
.sidemenu {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	background-color: #222;
	z-index: 1;
	padding-top: 100px;
	overflow-x: hidden;
}
.sidemenu a {
	padding: 8px 8px 8px 30px;
	text-decoration: none;
	font-size: 20px;
	color: #999;
	display: block;
}

.sidemenu a:hover {
	color: white;
}

.sidemenu .closebtn {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 36px;
	margin-left: 32px;
}

/*input[type="radio"]{
	align-items: center;
	display: none;
}
/*label {
	align-items: center;
	position: relative;
	align-items: center;
	color: #01cc65;
	font-size: 20px;
	border: 2px solid #01cc65;
	border-radius: 5px;
	padding: 10px 120px;
	display: flex;
	margin-bottom: 10px;
}
label:before{
	content: "";
	height: 30px;
	width: 30px;
	border: 3px solid #01cc65;
	border-radius: 50%;
	margin-right: 20px;
}
input[type="radio"]:checked + label{
	background-color: #01cc65;
	color: white;
}
input[type="radio"]:checked + label:before{
	height: 16px;
	width: 16px;
	border: 10px solid white;
	background-color: #01cc65;
}
*/
.radio {
	display: inline-flex;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	margin: 20px;
}

.radio_input {
	display: none;
}

.radio_label{
	padding: 8px 14px;
	font-size: 14px;
	color: #fff;
	background: #01cc65;
	cursor: pointer;
	transition: background 0.5s;
}

.radio_label:not(:last-of-type){
	border-right: 1px solid #D3FFE9;
}

.radio_input:checked + .radio_label{
	background: #008A44;
}
